.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px;
}

.hero-background {
  background-image: url('../../assets/backgrounds/hero-bg.webp');
  background-size: contain;
}

.hero_span {
  color: var(--typography-white);
  font-family: Nohemi;
  font-size: 36px;
  font-weight: 600;
  line-height: 100.52%;
  text-align: center;
  text-transform: uppercase;
}

.hero_image {
  width: 904px;
  height: 176px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero_image {
    width: 452px;
    height: 88px;
  }
}
